#navbarStuff {
    background-color: #D25380;
    color: #FFFAF4;
}

#portfolioImage {
    padding: 5px;
    width: 20%;
    height: 20%;
}

.home {
    background-color: #F6C391;
    color: #FFFAF4;
    padding: 15px;
}

.experience {
    background-color: #E08E6D;
    color: #FFFAF4;
    padding: 15px;
}